<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/recruit_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지원한 채용공고</title>
</head>

<body layout:fragment="content">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">종합이력서 결과 안내</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <strong>
                        2024년 SQLD 개발자 자격증 53회
                    </strong>
                    <br>
                    <br>
                    유상준(SQLD 개발자)은<br>
                    자격증 시험에 합격하셨습니다.<br>
                    합격을 진심으로 축하드립니다.<br>
                    <br>
                    뿌이뿌이ㅏ뿌.<br>
                    감사합니다.<br>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container">
        <div style="display: flex; flex-direction: column; margin-left: 100px; margin-bottom: 50px;">
            <strong style="font-size: 45px; margin-bottom: 15px;">채용공고 관리</strong>
            <strong style="font-size: 19px;">새로운 길을 만드는 여정에 함께하세요.</strong>
        </div>

        <div class="row justify-content-center" style="padding: 0 40px 0 40px;">

            <nav class="col-12 col-md-12 col-lg-3 sidebar">
                <div style="margin: 15px 0 45px 15px;">
                    <strong style="font-size: 24px;">
                        마이페이지
                    </strong>
                </div>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">내 정보</strong>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Registration.png" alt="x">
                                </div>
                                <div>
                                    내 정보 수정
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">채용공고 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    지원한 채용공고
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    최근 본 최용공고
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">이력서 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    나의 이력서
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    이력서 작성
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
            </a>

            <main class="col-12 col-md-12 col-lg-8 main-content d-flex justify-content-end align-items-start">
                <div class="job-listings ">
                    <div class="job-header">
                        <div style="padding: 15px;"><strong>지원한 채용공고</strong></div>
                        <!-- <div style="display: flex; justify-content: flex-end; align-items: flex-end; margin-right: 20px;"> -->
                        <div class="d-flex justify-content-end align-items-center me-3 mb-2">
                            <!-- <select name="filter" id="filter" class="form-control"> -->
                            <select name="filter" class="form-control w-auto mx-3"
                                style="color: #828282; padding: 3px 12px 3px 12px;">
                                <option value="1">최근 날짜</option>
                            </select>
                            <input class="form-control form_input"  type="text" name="search_filter" id="search_filter" placeholder="검색어를 입력해주세요">
                            <button class="d-flex justify-content-center align-items-center btn-in-short fw-bold">
                                찾기
                            </button>
                        </div>
                    </div>



                    <a href="#" class="job-item-link">
                        <div class="job-item d-flex flex-column">
                            <div style="width: 38px; height: 15px;">
                                <!-- new 자리 -->
                            </div>
                            <div style="font-size: 12px;">
                                <span>CANB R&D 연구소</span> <span>|</span> <span>기간: 2024.05.20 ~ 채용시</span>
                            </div>
                            <div style="font-size: 17px; margin-bottom: 15px; font-weight: bold;">CANB R&D 연구소 부문별 채용
                            </div>
                            <div class="item d-flex justify-content-between">
                                <div class="keyword-span">
                                    <span>#연구개발</span> <span>#포천시</span> <span>#계약직</span>
                                </div>
                                <div class="gap-2 d-flex">
                                    <div>
                                        <button type="button" class="btn-short" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            <strong>조회</strong>
                                        </button>
                                    </div>

                                    <div class="d-flex justify-content-center m-1">
                                        <strong style="color: #024FDF;">FINDER</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>







                </div>
            </main>
        </div>

    </div>

    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
</body>

</html>