<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/recruit_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채용공고 상세페이지</title>
</head>

<body layout:fragment="content">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <form action="" method="post" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">이력서 선택</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <strong th:text="${recruitPost.recruitTitle}">
                        
                    </strong>
                    <br>

                    <a href="#" class="job-item-link modal-list">
                        <div class="job-item d-flex flex-column " tabindex="0">
                            <div style="width: 38px; height: 15px;">
                                <!-- new 자리 -->
                            </div>
                            <div style="font-size: 12px;" class="d-flex justify-content-start">
                                <span>CANB R&D 연구소</span> <span>|</span> <span>기간: 2024.05.20 ~ 채용시</span>
                            </div>
                            <div style="font-size: 17px; margin-bottom: 15px; font-weight: bold; "
                                class="d-flex justify-content-start">
                                <span>CANB R&D 연구소 부문별 채용</span>
                            </div>
                            <div class="item d-flex justify-content-between">
                                <div class="keyword-span">
                                    <span>#연구개발</span> <span>#포천시</span> <span>#계약직</span>
                                </div>
                                <div class="gap-2 d-flex">
                                    <div>
                                        <button type="button" class="btn-short" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            <strong>삭제</strong>
                                        </button>
                                    </div>

                                    <div class="d-flex justify-content-center m-1">
                                        <strong style="color: #024FDF;">FINDER</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-short"><strong>제출</strong></button>
                </div>
            </form>
        </div>
    </div>

    <div class="w-100 d-flex justify-content-center">
        <!-- <div class="container-fluid container d-flex justify-content-between " style="height: auto"> -->
        <div class="container-fluid container row " style="height: auto">
            <div class="col-md-12 col-lg-9 order-2 order-lg-1">
                <div class="wrapper d-flex flex-column  ">
                    <div class="detail-header">
                        <div class="detail-logo d-flex justify-content-start ">
                            <img src="/img/logo.png" alt="" style=" width: 100px; ">
                        </div>
                        <div>
                            <span style="font-size: 14px;" th:text="${recruitPost.company.comName}"></span>
                        </div>
                        <div>
                            <span style="font-size: 32px; font-weight: bold;" th:text="${recruitPost.recruitTitle}"></span>
                        </div>
                        <div class="item d-flex justify-content-between">
                            <div class="keyword-span">
                                <th:block th:each="keyword : ${recruitPost.keywordList}">
                                    <span th:text="${keyword.recruitKeyword}">
    
                                    </span>
                                </th:block>
                            </div>
                        </div>
                    </div>
    
                    <hr class="my-5">
    
                    <div class="sec_detail d-flex flex-column justify-content-start ">
                        <div class="detail-box01">
                            <span style="font-size: 17px; font-weight: bold; margin-right: 72px;">담당업무</span>
                            <span style="font-size: 14px;" th:text="${recruitPost.recruitResponsibilities}"></span>
                        </div>
                        <div class="detail-box02">
                            <span style="font-size: 17px; font-weight: bold; margin-right: 72px;">자격조건</span>
                            <span style="font-size: 14px;" th:text="${recruitPost.recruitQualifications}"></span>
                        </div>
                        <div class="detail-box03">
                            <span style="font-size: 17px; font-weight: bold; margin-right: 72px;">우대사항</span>
                            <span style="font-size: 14px;" th:text="${recruitPost.recruitPreferredQualifications}"></span>
                        </div>
                    </div>
                    <div style="margin: 44px 26px; height: auto;" class="d-flex justify-content-start">
                        <!-- <img src="/img/poly.png" alt=""> -->
                        <p th:text="${recruitPost.recruitContent}"></p>
                    </div>
                </div>

            </div>
            <!-- <div class="col-md-12 col-lg-3 order-1 order-lg-2 sticky-top"> -->
            <div class="col-md-12 col-lg-3 order-1 order-lg-2">
                <div class="d-flex flex-row flex-lg-column job_notice_detail a-wrapper" style="position: sticky; top: 130px; right: 50px">
    
                    <button type="button" class="detail-form w-100" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        style="background-color: #004ea0; font-weight: bold; border: transparent;">
                        지원하기
                    </button>
    
                    <a href="#" class="detail-form w-100"
                        style="background-color: #fff; color: #000000E6; border: 1px solid #000; font-weight: bold; border: 1px solid #aaa;">뒤로가기</a>
                </div>
            </div>

            



        </div>
    </div>

</body>

</html>