
<th:block th:each="company : ${companyList}">
    <div class="d-flex company-item">
        <div class="item w-100 ">
            <div class="custom-dropdown-item">
                <a href="" th:text="${company.comName}"></a>
            </div>
        </div>
        <div class="item w-100 d-none recruit-list-item">
            <th:block th:each="recruit : ${company.recruitList}">
                <div class="recruit-box custom-dropdown-item">
                    <a href="" th:text="${recruit.recruitTitle}"></a>
                </div>
            </th:block>
        </div>
    </div>
</th:block>


