<!-- 프래그먼트 : 레이아웃에서 공통적으로 사용할 UI -->
<!-- th:fragment="프래그먼트 명" -->
<th:block th:fragment="footer">
        <footer>
            <div class="footer-wrap">
                <div class="footer-col1">
                    <div></div>
                    <div class="sns-icon-menu">
                        <i class="fa-brands fa-facebook fa-spin fs-2"></i>
                        <i class="fa-brands fa-linkedin fa-spin fs-2"></i>
                        <i class="fa-brands fa-youtube fa-spin fs-2"></i>
                        <i class="fa-brands fa-instagram fa-spin fs-2"></i>
                    </div>
                    <div class="footer-col1-1">
                        <div>
                            <h1 class="fs-3">주소</h1>
                            <p>인천광역시 부평구 더조은 </p>
                        </div>
                        <div>
                            <h1 class="fs-3">대표이사</h1>
                            <p>홍준범</p>
                        </div>
                        <div>
                            <h1 class="fs-3">이메일</h1>
                            <p>redtiger@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="footer-col2">
                    <h1>FINDER</h1>
                    <img class="logo-img" src="/img/logo_white_transparent.png" alt="">
                </div>
                <div class="footer-col3">
                    <div></div>
                    <p>&copy; 2023. Poly Inspiration Inc. All Rights Reserved.</p>
                    <div class="footer-3-menu3">
                        <h3 class="fs-3">사업자등록번호</h3>
                        <p>117-81-42415</p>
                    </div>
                </div>
            </div>
        </footer>
</th:block>