<!-- 프래그먼트 : 레이아웃에서 공통적으로 사용할 UI -->
<!-- th:fragment="프래그먼트 명" -->
<th:block th:fragment="header">
    <header>
        <div class="header-wrap">
            <!-- 로고 누르면 메인페이지로 이동 -->
            <div class="logo">
                <a href="/index">
                    <img class="logo-header" src="/img/logo.png" alt="">
                    <h1 class="logo-title">
                        <strong>FINDER</strong>
                    </h1>
                </a>
            </div>
            <div class="nav-menu">
                <!-- 기업이면 기업정보/ 일반회원이면 내정보 -->
                <a href="/user/update_user">내 정보</a>
                <!-- 기업이면 제출된 이력서 / 일반회원이면 내 이력서 -->
                <a href="/resume/SVlist_user">이력서 관리</a>
                <!-- 메인 카드뷰 채용공고 페이지 -->
                <a href="/index">채용공고</a>
                <!-- 기업일때만 결제 페이지 표시 -->
                <a href="/company/credit_com">결제</a>
                <!-- 로그인시 로그아웃으로 표시 -->
                <!-- 비 로그인 시 -->
                <th:block sec:authorize="isAnonymous()">
                    <a href="/login">로그인</a>
                </th:block>
                <!-- 로그인 시 -->
                <th:block sec:authorize="isAuthenticated()">
                    <form action="/logout" method="post">
                        <!-- CSRF TOKEN -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <button style="border: none; background-color: #fff;" type="submit">로그아웃</button>
                    </form>
                </th:block>
            </div>
        </div>
    </header>
</th:block>