<!-- 프래그먼트 : 레이아웃에서 공통적으로 사용할 UI -->
<!-- th:fragment="프래그먼트 명" -->
<th:block th:fragment="header">
    <header>
        <div class="header-wrap">
            <!-- 로고 누르면 메인페이지로 이동 -->
            <div class="logo">
                <a href="/index">
                    <img class="logo-header" src="/img/logo.png" alt="">
                    <h1 class="logo-title">
                        <strong>FINDER</strong>
                    </h1>
                </a>
            </div>
            <div class="nav-menu">
                <!-- 👮‍♂️ 기업 회원 메뉴 -->
                <th:block sec:authorize="hasRole('ROLE_COMPANY')">
                    <!-- 기업이면 기업정보/ 일반회원이면 내정보 -->
                    <a th:href="|/company/introduce_com?userNo=${session.user.userNo}|">기업 정보</a>
                    <!-- 기업이면 제출된 이력서 / 일반회원이면 내 이력서 -->
                    <a th:href="|/company/recruit_list_com?userNo=${session.user.userNo}|">제출된 이력서</a>
                    <!-- 기업일때만 결제 페이지 표시 -->
                    <a th:href="|/company/credit_com?userNo=${session.user.userNo}|">결제</a>
                    <!-- 기업이면 담당자 정보 -->
                    <a th:href="|/user/update_user?userNo=${session.user.userNo}|">담당자 정보</a>
                </th:block>

                <!-- 👩‍💼 일반 회원 메뉴 -->
                <th:block sec:authorize="!hasRole('ROLE_COMPANY') and hasRole('ROLE_USER')">
                    <!-- 기업이면 기업정보/ 일반회원이면 내정보 -->
                    <a th:href="|/user/update_user?userNo=${session.user.userNo}|">내 정보</a>
                    <!-- 기업이면 제출된 이력서 / 일반회원이면 내 이력서 -->
                    <a th:href="|/resume/cv_list_user?userNo=${session.user.userNo}|">이력서 관리</a>
                </th:block>

          
                <!-- 비 로그인 시 -->
                <th:block sec:authorize="isAnonymous()">
                    <!-- 메인 카드뷰 채용공고 페이지 -->
                    <a href="/index">채용공고</a>
                    <!-- 로그인시 로그아웃으로 표시 -->
                    <a href="/login">로그인</a>
                </th:block>

                <!-- 로그인 시 -->
                <th:block sec:authorize="isAuthenticated()">
                    <form action="/logout" method="post">
                        <!-- CSRF TOKEN -->
                        <a href="/index">채용공고</a>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <!-- 메인 카드뷰 채용공고 페이지 -->
                        <button style="border: none; background-color: #fff;" type="submit">로그아웃</button>
                    </form>
                </th:block>
            </div>
        </div>
    </header>
</th:block>