<!-- 프래그먼트 : 레이아웃에서 공통적으로 사용할 UI -->
<!-- th:fragment="프래그먼트 명" -->
<th:block th:fragment="header">
    <header>
        <div class="header-wrap">
            <div class="logo">
                <a href=""><img class="logo-header" src="/img/logo.png" alt=""></a>
               <h1 class="logo-title"><strong>FINDER</strong></h1>
            </div>
            <div class="nav-menu">
                <a href="#">내 정보</a>
                <a href="#">이력서 관리</a>
                <a href="#">채용공고</a>
                <a href="#">로그인</a>
            </div>
        </div>
    </header>
</th:block>

