<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finder.project.user.mapper.UserMapper">

    <resultMap type="Users" id="userMap">
        <id property="userNo" column="user_no" />
        <result property="userName" column="user_name" />
        <result property="userId" column="user_id" />
        <result property="userPw" column="user_pw" />
        <result property="userBeforePw" column="user_before_pw" />
        <result property="userBirth" column="user_birth" />
        <result property="userPhone" column="user_phone" />
        <result property="userEmail" column="user_email" />
        <result property="userRegDate" column="user_reg_date" />
        <result property="userUpdDate" column="user_upd_date" />
        <result property="userGender" column="user_gender" />
        <result property="enabled" column="enabled" />

        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>

        
    <resultMap type="UserAuth" id="authMap">
        <result property="authNo" column="auth_no" />
        <result property="userNo" column="user_no" />
        <result property="auth" column="auth" />
    </resultMap>

    <!-- 로그인 - username -->
    <select id="login" resultMap="userMap">
       SELECT
            u.user_no ,
            u.user_name ,
            u.user_id ,
            u.user_pw ,
            u.user_before_pw ,
            u.user_birth ,
            u.user_phone ,
            u.user_email ,
            u.user_reg_date ,
            u.user_upd_date ,
            u.user_gender ,
            u.enabled ,
            a.auth_no ,
            a.auth 
        FROM
            user u LEFT JOIN user_auth a ON u.user_no = a.user_no
        WHERE u.user_id = #{userId}
    </select>


    <!-- 회원 조회 - id -->
    <select id="select" resultMap="userMap">
        SELECT
            u.user_no ,
            u.user_name ,
            u.user_id ,
            u.user_pw ,
            u.user_before_pw ,
            u.user_birth ,
            u.user_phone ,
            u.user_email ,
            u.user_reg_date ,
            u.user_upd_date ,
            u.user_gender ,
            u.enabled ,
            a.auth_no ,
            a.auth 
        FROM
            user u LEFT JOIN user_auth a ON u.user_no = a.user_no
        WHERE u.user_id = #{userId}
    </select>

    <!-- 회원 가입 -->
    <insert id="join">
        INSERT INTO user( user_name, user_id, user_pw, user_birth, user_phone, user_email, user_gender )
        VALUES (#{userName}, #{userId}, #{userPw}, #{userBirth}, #{userPhone}, #{userEmail}, #{userGender})
    </insert>

    <!-- 기업회원 조회 -->
<!--     <select id="select" resultMap="userMap">
    SELECT
        u.user_no,
        u.user_name,
        u.user_id,
        u.user_pw,
        u.user_before_pw,
        u.user_birth,
        u.user_phone,
        u.user_email,
        u.user_reg_date,
        u.user_upd_date,
        u.user_gender,
        u.enabled,
        c.com_no,
        c.com_name,
        c.com_category,
        c.com_address,
        c.com_business
    FROM
        user u LEFT JOIN company c ON u.user_no = c.com_no
    WHERE
        u.user_id = #{userId}
    </select> -->

    <!-- 기업회원 가입 -->
<!--     <insert id="comJoin">
        INSERT INTO user( user_name, user_id, user_pw, user_birth, user_phone, user_email, user_gender )
        VALUES (#{userName}, #{userId}, #{userPw}, #{userBirth}, #{userPhone}, #{userEmail}, #{userGender})

        INSERT INTO company( com_name, com_category, com_address, com_business )
        VALUES (#{comName}, #{comCategory}, #{comAddress}, #{comBusiness})
    </insert>
 -->

    <!-- 회원 정보 수정 -->
    <!-- TODO : 회원 컬럼 수정하기 -->
    <update id="update">
        UPDATE user
           SET user_name = #{user_name}
              ,user_id = #{user_id}
              ,user_pw = #{user_pw}
              ,user_phone = #{user_phone}
              ,user_gender = #{user_gender}
        WHERE username = #{user_name}
    </update>

    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO user_auth( user_no, auth )
        VALUES ( #{userNo}, #{auth} )
    </insert>

</mapper>