<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/recruit_layout}">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FINDER 메인 페이지</title>

</head>

<body layout:fragment="content">

  <!-- <div class="box m-auto" style="width: 100px; height: 100px; background-color: blue;"></div> -->
  <div class="container main-content">
    <div style="display: flex; flex-direction: column; margin-left: 100px; margin-bottom: 50px; margin-top: 30px;">
      <strong style="font-size: 70px; margin-bottom: 30px;">채용공고</strong>
      <strong style="font-size: 22px;">새로운 길을 만드는 여정에 함께하세요.</strong>
    </div>

    <main class="main-content d-flex justify-content-end align-items-start">
      <div class="job-listings ">
        <div class="job-header">
          <div style="padding: 15px;"><strong>채용공고 등록</strong></div>
        </div>
      </div>
    </main>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body d-flex flex-column justify-content-between">
            <h4 class="card-title">
              <strong>
                현대 중공업 [ 연구개발 R&D ]
              </strong>
              <div>
                현대중공업
              </div>
            </h4>
            <p class="card-text"></p>
            <p class="card-text2">2024/05/10~ </p>

            <div class="d-flex justify-content-between">
              <div>d-1</div>
              <div>
                <button class="btn-short">조회</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>

</html>