<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/recruit_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .company-name{
            position: absolute;
        }

        .container-line{
            border: lightgrey solid 1px; 
            border-radius: 8px;
            height: 450px;
        }
     
        th{
            text-align: left;
            font-size: 15px;
            width: 120px;
            border-right: #d3d3d3 solid 1px;
            border-bottom: lightgrey solid 1px;
        }

        .td-st{
            border-bottom:  lightgrey solid 1px;
        }

        .pagination-container {
                          display: flex;
                          margin-top: 10px;
                          justify-content: center;
                        }
    </style>
    <title>결제 내역</title>
</head>

<body layout:fragment="content">

     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">결제내역 상세 안내</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <strong>
                        결제 날짜: 2024/06/02
                    </strong>
                    <br>
                    <br>
                    유상준님의 결제 내역입니다<br>
                    상품 옵션은 12개월이며 <br>
                    결제 금액은 500000원입니다.<br>
                    <hr>
                    구매해주셔서 감사합니다.<br>
                    주문처리 일자: 2024/06/02<br>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container">
        <div style="display: flex; flex-direction: column; margin-left: 100px; margin-bottom: 50px; margin-top: 30px;">

            <strong style="font-size: 45px; margin-bottom: 15px;">기업 정보</strong>
            <strong style="font-size: 19px;">앞으로의 길을 내다볼 때 필요한 건 아닌 판단이다.</strong>

        </div>

        <div class="row justify-content-center" style="padding: 0 40px 0 40px;">

            <nav class="col-12 col-sm-12 col-lg-3 sidebar">
                <div style="margin: 15px 0 45px 15px;">
                    <strong style="font-size: 24px;">
                        마이페이지
                    </strong>
                </div>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">기업 정보</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/company/introduce_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/home.png" alt="x">
                                </div>
                                <div>
                                    기업 소개
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/info_update_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Registration.png" alt="x">
                                </div>
                                <div>
                                    기업 정보 수정
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/credit_list_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/CreditCard.png" alt="x">
                                </div>
                                <div>
                                    결제 내역
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">채용공고 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/recruit/post_jobs_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    채용공고 등록
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/recruit/posted_jobs_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    등록한 채용공고
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">이력서 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/company/recruit_list_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    제출된 이력서
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/score_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    AI 간편 평가
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>


            <main class="col-12 col-md-12 col-lg-8 main-content d-flex justify-content-end align-items-start">
                <div class="job-listings">
                    <div class="job-header">
                        <div style="padding: 15px;"><strong>결제 내역</strong></div>
                        <!-- <div style="display: flex; justify-content: flex-end; align-items: flex-end; margin-right: 20px;"> -->
                        <div class="d-flex justify-content-end align-items-center me-3 mb-2">
                            <!-- <select name="filter" id="filter" class="form-control"> -->
                            <select name="filter" class="form-control w-auto mx-3"
                                style="color: #828282; padding: 3px 12px 3px 12px;">
                                <option value="1">최근 날짜</option>
                                <option value="1">오래된 날짜</option>
                            </select>
                            <input class="form-control form_input"  type="text" name="search_filter" id="search_filter" placeholder="검색어를 입력해주세요">
                            <button class="d-flex justify-content-center align-items-center btn-in-short fw-bold">
                                찾기
                            </button>
                        </div>
                    </div>
                    <div class="container-line">
                        <table class="table-credit">
                            <tr style="text-align: center;">
                                    <th>결제번호</th>
                                    <th>결제수단</th>
                                    <th>결제날짜</th>
                                    <th>결제금액</th>
                                    <th>결제코드</th>
                                    <th>결제번호</th>
                                    <th style="width: 80px;">상세보기</th>
                            </tr>

                            <!-- 임시 페이지-->
                            <tr class="td-st">
                                <td>203123123123</td>
                                <td>계좌이체</td>
                                <td>2024/06/02</td>
                                <td>500000</td>
                                <td>89052532</td>
                                <td>1231242</td>
                                <td>
                                    <a data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" style="cursor: pointer;">
                                        <strong>상세조회</strong>
                                    </a>
                                </td>
                            </tr>
                        
                            <!--실제로 넣을 테이블-->
                            

                        </table>
                    </div>
                        
                    <!-- 페이징 html, page dto 만들어야 함.-->  
                      <nav aria-label="Page navigation example" class="pagination-container">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next" style="cursor: pointer;">
                              <span aria-hidden="true" >&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                </div>
            </main>
        </div>

    </div>


    
    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
</body>

</html>