<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/company_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        /* 이 친구들이 버튼 변경하게 하는 코드입니다.*/
           .btn-male, .btn-female {
           padding: 10px 10px;
           margin: 5px;
           color: black;
           background-color: #EDEDED;
           cursor: pointer;
       }

       .btn-male.selected, .btn-female.selected {
           background-color: #007bff;
           color: white;
       }
   </style>
    <title>기업 정보 수정</title>
</head>

<body layout:fragment="content">

    <div class="container-fluid container">
        <div style="display: flex; flex-direction: column; margin-left: 100px; margin-bottom: 50px;">
            <strong style="font-size: 45px; margin-bottom: 15px;">기업 정보</strong>
            <strong style="font-size: 19px;">모두가 주인이 되는 문화를 통해, 꿈을 현실로 만듭니다.</strong>
        </div>

        <div class="row justify-content-center" style="padding: 0 40px 0 40px;">

            <nav class="col-12 col-sm-12 col-lg-3 sidebar">
                <div style="margin: 15px 0 45px 15px;">
                    <strong style="font-size: 24px;">
                        마이페이지
                    </strong>
                </div>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">기업 정보</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/company/introduce_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/home.png" alt="x">
                                </div>
                                <div>
                                    기업 소개
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/info_update_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Registration.png" alt="x">
                                </div>
                                <div>
                                    기업 정보 수정
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/credit_list_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/CreditCard.png" alt="x">
                                </div>
                                <div>
                                    결제 내역
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">채용공고 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/recruit/post_jobs_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    채용공고 등록
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/recruit/posted_jobs_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    등록한 채용공고
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">이력서 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/company/recruit_list_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    제출된 이력서
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/score_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    AI 간편 평가
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>


         <main class="col-12 col-md-12 col-lg-8 main-content d-flex justify-content-end align-items-start">
                <div class="job-listings d-flex flex-column align-items-center">
                    <div class="job-header w-100">
                        <div style="padding: 15px;"><strong>기업 정보 수정</strong></div>
                    </div>

                    <!-- 비밀번호 변경 폼 -->
                    <form action="" method="post" class="register-form" style="width:100% !important; border-radius: 12px; background-color: #FAFAFA;">

                        <div for="username" class="userid">아이디</div>
                        <div id="id">
                                <!-- 사용자 아이디 -->
                                <input type="text" id="username" th:value="${session.user.userId}" name="username" placeholder="사용자 아이디"
                                    readonly>
                        </div>
                        <br>
                        <div class="d-flex flex-column">
                            <div for="password" class="userpw" style="width: 84px; text-align: center;">비밀번호</div>
                            
                            <!-- 현재 DB에 들어있는 비밀번호 -->
                            <input type="password" id="current_password" name="current_password" placeholder="현재 비밀번호 입력" required>
                            
                            <input type="password" id="password" name="password" placeholder="8~16자리/영문 대소문자,숫자,특수문자 조합" required>
                            <input type="password" id="confirm-password" name="confirm-password" required placeholder="비밀번호 확인">

                            <!-- 폼 전송버튼 -->
                            <button type="submit" class="btn-in-short align-self-end" style="margin-right: 10px; background-color: var(--long-btn-color);">변경</button> <br>
                        </div> 

                    </form>

                    <!-- 이름/생년월일/휴대폰/이메일/기업주소 변경 폼 -->
                    <form action="" method="post" class="register-form mt-4" style="border-radius: 12px; background-color: #FAFAFA;">

                        <div for="name" class="username" style="width: 55px; text-align: center;">이름</div>
                        
                        <div class="gender">
                            <!-- 이름 -->
                            <input class="input-name" type="text" id="name" name="name" th:value="${session.user.userName}" required placeholder="이름" readonly>
                            <div class="gender-btn">
                                <button type="button" class="btn-male" id="male" name="gender" onclick="change_btn(event)">남</button>
                                <button type="button" class="btn-female" id="female" name="gender" onclick="change_btn(event)">여</button>
                            </div> 
                        </div>
        
                        <div for="birthdate" class="userbirth" style="width: 84px; text-align: center;">생년월일</div>
                        <div class="birthdate">
                            <select name="year" id="year">
                                <option value="1">2000</option>
                                <option value="2">2001</option>
                                <option value="3">2002</option>
                            </select>
                            <select name="month" id="month">
                                <option value="1">1월</option>
                                <option value="2">2월</option>
                                <option value="3">3월</option>
                                <option value="3">4월</option>
                                <option value="3">5월</option>
                                <option value="3">6월</option>
                                <option value="3">7월</option>
                                <option value="3">8월</option>
                                <option value="3">9월</option>
                                <option value="3">10월</option>
                                <option value="3">11월</option>
                                <option value="3">12월</option>
                            </select>
                            <select name="day" id="day">
                                <option value="1">1일</option>
                                <option value="2">2일</option>
                                <option value="3">3일</option>
                                <option value="3">4일</option>
                                <option value="3">5일</option>
                                <option value="3">6일</option>
                                <option value="3">7일</option>
                                <option value="3">8일</option>
                                <option value="3">9일</option>
                                <option value="3">10일</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div></div>
                        </div>

                        <div for="phone" class="userphone">휴대폰</div>
                        <div class="phone d-flex flex-column">
                            <!-- 휴대폰번호 -->
                            <input type="text" id="phone" name="phone" required placeholder="번호를 입력해주세요.">                            
                        </div>
        
                        <div for="email" class="useremail">
                            이메일
                        </div>
                        <div class="phone d-flex flex-column">
                            <!-- 이메일 -->
                            <input type="email" id="email" name="email" required placeholder="이메일">
                        </div>

                        <div for="address" class="useraddress">
                            기업 주소
                        </div>
                        <div class="phone d-flex flex-column">
                            <!-- 기업주소 -->
                            <input type="text" id="address" name="address" required placeholder="회사 주소 예시) 강남구 테헤란로 120번길 12">

                            <!-- 폼 전송버튼 -->
                            <button type="submit" class="btn-in-short align-self-end" style="margin-right: 10px; background-color: var(--long-btn-color);">변경</button>
                        </div>
                    </form>


                </div>
            </main>
        </div>

    </div>

    <script>
        //버튼 클릭시 유지하는 js 코드
        function change_btn(event) {
        // 모든 버튼의 'selected' 클래스를 제거
        var buttons = document.querySelectorAll('.gender-btn button');
        buttons.forEach(function(button) {
            button.classList.remove('selected');
        });

        // 클릭된 버튼에 'selected' 클래스 추가
        var clickedButton = event.target;
        clickedButton.classList.add('selected');
        }


        // 타임리프 템플릿 자바스크립트 객체로 세션 전달하기


    </script>
</body>

</html>