<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/company_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업 소개</title>
    <style>
        .com-intro-title {
            text-align: center; 
            height: 50px; 
            font-size: var(--text-middle); 
            border-radius: 8px;
            border: 1px solid #bdbdbd;
        }

        .com-intro-input {
            border: 1px solid #bdbdbd;
            border-radius: 8px;
            padding: 5px;
            width: 100%;
            margin-top: 5px;
        }

        .introduce-col1 {
            border: 1px solid #bdbdbd;
            border-radius: 8px;
            padding: 5px;
            width: auto;
        }

    </style>
</head>

<body layout:fragment="content">
    <div class="container-fluid container">
        <div style="display: flex; flex-direction: column; margin-left: 100px; margin-bottom: 50px; margin-top: 30px;">
            <strong style="font-size: 70px; margin-bottom: 30px;">기업 정보</strong>
            <strong style="font-size: 22px;">새로운 길을 만드는 여정에 함께하세요.</strong>
        </div>

        <div class="row justify-content-center" style="padding: 0 40px 0 40px;">

            <nav class="col-12 col-sm-12 col-lg-3 sidebar">
                <div style="margin: 15px 0 45px 15px;">
                    <strong style="font-size: 24px;">
                        마이페이지
                    </strong>
                </div>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">기업 정보</strong>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/home.png" alt="x">
                                </div>
                                <div>
                                    기업 소개
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Registration.png" alt="x">
                                </div>
                                <div>
                                    기업 정보 수정
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/CreditCard.png" alt="x">
                                </div>
                                <div>
                                    결제
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">채용공고 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    채용공고 등록
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    채용공고 조회
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">이력서 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    제출된 이력서
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    AI 간편 평가
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>


            <main class="col-12 col-md-12 col-lg-8 main-content d-flex justify-content-end align-items-start">
                <div class="job-listings d-flex flex-column align-items-center">
                    <div class="job-header w-100">
                        <div style="padding: 15px;"><strong>기업 소개</strong></div>
                    </div>

                    <form style="width:100% !important; border-radius: 12px;">
                        <div class="d-flex justify-content-end">
                            <button class="btn-long">
                                등록
                            </button>
                            <button class="btn-long" style="margin-left: 15px;">
                                수정
                            </button>
                        </div>
                        <div class="company-introduce d-flex flex-column w-100">
                            <div>
                                <input type="text" placeholder="제목을 입력해주세요." class="w-100 my-4 com-intro-title">
                            </div>
                            <div class="row">
                                <div class="d-flex flex-column row-gap-3 col-3">
                                    <img src="/img/업력연차.png" alt="업력연차">
                                    <input type="text" id="com" name="" placeholder="N년차" style="border: none; text-align: center;"> <!-- 업력 연차 ERD 에서 만들지 않음 -->
                                    <h4 style="text-align: center;">업력 연차</h4>
                                </div>
                                <div class="d-flex flex-column row-gap-3 col-3">
                                    <img src="/img/기업규모.png" alt="기업규모">
                                    <input type="text" id="com_size" name="com_size" placeholder="소/중소/대" style="border: none; text-align: center;">
                                    <h4 style="text-align: center;">기업 규모</h4>
                                </div>
                                <div class="d-flex flex-column row-gap-3 col-3">
                                    <img src="/img/사원수.png" alt="사원수">
                                    <input type="text" id="com_emp_count" name="com_emp_count" placeholder="N명" style="border: none; text-align: center;">
                                    <h4 style="text-align: center;">사원수</h4>
                                </div>
                                <div class="d-flex flex-column row-gap-3 col-3">
                                    <img src="/img/매출액.png" alt="매출액">
                                    <input type="text" id="com_sales" name="com_sales" placeholder="N원" style="border: none; text-align: center;">
                                    <h4 style="text-align: center;">매출액</h4>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between introduce-col2 mb-3">
                                <div class="w-100">
                                    <label for="com_represent">대표명</label>
                                    <input class="com-intro-input" type="text" id="com_represent" name="com_represent" placeholder="홍준범">
                                </div>
                                <div class="w-100">
                                    <label for="com_category">업종</label>
                                    <input class="com-intro-input" type="text" id="com_category" name="com_category" placeholder="소프트웨어 개발">
                                </div>
                            </div>
                            <div class="introduce-col3 ">
                                <label for="com_address">주소</label>
                                <input class="com-intro-input" type="text" id="com_address" name="com_address" placeholder="인천광역시 부평구 부평1동 534-48">
                            </div>
                            <div class="w-100 introduce-col4">                                
                                <h4 class="w-100" style="text-align: center; background-color: #bdbdbd; margin-top: 20px; margin-bottom: 0;">기술 소개</h4>
                                <textarea class="w-100" style="min-height: 300px; border: 1px solid #bdbdbd; border-radius: 0 0 8px 8px;" name="com_content" id="com_content" placeholder="기업 소개글을 작성하세요."></textarea>
                            </div>
                        </div>
                    </form>


                </div>
            </main>
        </div>


    </div>
</body>

</html>