<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/recruit_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .company-name{
            position: absolute;
        }

        .container-line{
            border: lightgrey solid 1px; 
            border-radius: 8px;
            height: 450px;
        }
        
        .apply-user{
            font-size: 17px; 
            margin-top: 15px; 
            font-weight: bold; 
            border-bottom: lightgrey solid 2px;
        }

        .btn-short{
            height: 23px;
            width: 65px;
            float: right;
            color: white;
        }

        .pagination-container {
                          display: flex;
                          margin-top: 10px;
                          justify-content: center;
                        }
    </style>
    <title>지원한 구직자 조회</title>
</head>

<body layout:fragment="content">


    <div class="container-fluid container">
        <div style="display: flex; flex-direction: column; margin-left: 100px; margin-bottom: 50px; margin-top: 30px;">
            <strong style="font-size: 45px; margin-bottom: 15px;">이력서 관리</strong>
            <strong style="font-size: 19px;">앞으로의 길을 내다볼 때 필요한 건 아닌 판단이다.</strong>
        </div>

        <div class="row justify-content-center" style="padding: 0 40px 0 40px;">

            <nav class="col-12 col-sm-12 col-lg-3 sidebar">
                <div style="margin: 15px 0 45px 15px;">
                    <strong style="font-size: 24px;">
                        마이페이지
                    </strong>
                </div>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">기업 정보</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/company/introduce_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/home.png" alt="x">
                                </div>
                                <div>
                                    기업 소개
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/info_update_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Registration.png" alt="x">
                                </div>
                                <div>
                                    기업 정보 수정
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/creditList_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px;" class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/CreditCard.png" alt="x">
                                </div>
                                <div>
                                    결제 내역
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">채용공고 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/recruit/post_jobs_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    채용공고 등록
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/recruit/posted_jobs_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/list.png" alt="x">
                                </div>
                                <div>
                                    등록한 채용공고
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column ul-header">
                    <li class="li-header">
                        <strong class="fs-5">이력서 관리</strong>
                    </li>
                    <li class="nav-item">
                        <a href="/company/recruitList_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    제출된 이력서
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/company/score_com" class="job-item-link nav-link fw-normal fs-6">
                            <div style="background-color: #fff; border-radius: 8px; " class="d-flex gap-2 p-2 ps-2">
                                <div>
                                    <img src="/img/Documents.png" alt="x">
                                </div>
                                <div>
                                    AI 간편 평가
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
            </a>

            <main class="col-12 col-md-12 col-lg-8 main-content d-flex justify-content-end align-items-start">
                <div class="job-listings">
                    <div class="job-header">
                        <div style="padding: 15px;"><strong>제출된 이력서</strong></div>
                        <!-- <div style="display: flex; justify-content: flex-end; align-items: flex-end; margin-right: 20px;"> -->
                        <div class="d-flex justify-content-end align-items-center me-3 mb-2">
                            <!-- <select name="filter" id="filter" class="form-control"> -->
                            <select name="filter" class="form-control w-auto mx-3"
                                style="color: #828282; padding: 3px 12px 3px 12px;">
                                <option value="1">최근 날짜</option>
                                <option value="1">오래된 날짜</option>
                            </select>
                            <input class="form-control form_input"  type="text" name="search_filter" id="search_filter" placeholder="검색어를 입력해주세요">
                            <button class="d-flex justify-content-center align-items-center btn-in-short fw-bold">
                                찾기
                            </button>
                        </div>
                    </div>
                    <div style="text-align: right;" class="mb-2 me-2">
                        <b>제출된 이력서 n개</b>
                    </div>
                    <div class="container-line p-3">
                    <h3 class="company-name">기업명: FINDER</h3>
                    <a href="/company/SVread_com" class="job-item-link mt-5">
                        <!-- 지원자 리스트-->
                        <div class="job-item d-flex flex-column">
                            <!--10개? 9개? 에서 자르기-->
                            <div class="apply-user">
                                이력서 제목 | 구직자 이름 
                                <button type="button" class="btn-short" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" >
                                <strong>조회</strong>
                                </button>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- 페이징 html, page dto 만들어야 함.-->  
                      <nav aria-label="Page navigation example" class="pagination-container">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                      
                      

                </div>
            </main>
        </div>

    </div>
</body>

</html>