<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finder.project.company.mapper.CompanyMapper">


    <!-- introduce_com 기업소개 페이지 -->
    <!-- 기업 상세 정보 조회 -->
    <select id="selectCompanyDetail" resultType="CompanyDetail">
        SELECT *
        FROM company_detail
        WHERE com_info_no = #{comInfoNo}
    </select>

    <!-- 기업 상세 정보 등록 -->
    <insert id="insertCompanyDetail">
        INSERT INTO company_detail(com_represent, com_category, com_url, com_birth, com_size, com_emp_count, com_sales, com_content, com_address, com_vision, com_welfare, com_avg_salary, com_no)
        VALUES (#{comRepresent}, #{comCategory}, #{comUrl}, #{comBirth}, #{comSize}, #{comEmpCount}, #{comSales}, #{comContent}, #{comAddress}, #{comVision}, #{comWelfare}, #{comAvgSalary}, #{comNo})
    </insert>

    <!-- 기업 상세 정보 수정 -->
    <update id="updateCompanyDetail">
        UPDATE company_detail
        SET com_represent = #{comRepresent},
            com_category = #{comCategory},
            com_url = #{comUrl},
            com_birth = #{comBirth},
            com_size = #{comSize},
            com_emp_count = #{comEmpCount},
            com_sales = #{comSales},
            com_content = #{comContent},
            com_address = #{comAddress},
            com_vision = #{comVision},
            com_welfare = #{comWelfare},
            com_avg_salary = #{comAvgSalary},
            com_no = #{comNo}
        WHERE com_info_no = #{comInfoNo}
    </update>




    <!-- info_update_com 기업 정보 수정 페이지 -->
    <!-- 기업 조회 -->
    <select id="selectCompanyById" resultType="Company">
        SELECT *
        FROM company
        WHERE com_no = #{comNo}
    </select>

    <!-- 기업 등록 -->
    <insert id="insertCompany">
        INSERT INTO company(com_name, com_category, com_phone, com_email, com_employee, com_address, com_business, user_no)
        VALUES (#{comName}, #{comCategory}, #{comPhone}, #{comEmail}, #{comEmployee}, #{comAddress}, #{comBusiness}, #{userNo})
    </insert>

    <!-- 기업 수정 -->
    <update id="updateCompany">
        UPDATE company
        SET com_name = #{comName},
            com_category = #{comCategory},
            com_phone = #{comPhone},
            com_email = #{comEmail},
            com_employee = #{comEmployee},
            com_address = #{comAddress},
            com_business = #{comBusiness},
            user_no = #{userNo}
        WHERE com_no = #{comNo}
    </update>


    <!-- 기업 비밀번호 수정 못짜겠다... -->
    <update id="updatePW">
        UPDATE user u 
        INNER JOIN company c ON u.userNo = c.userNo
        SET user_pw = #{userPw}
        WHERE c.comNo = #{comNo}
    </update>


    <!-- user_no 로 company 조회 -->
    <select id="selectByUserNo" resultType="Company">
        SELECT *
        FROM company
        WHERE user_no = #{userNo}
        LIMIT 0, 1
    </select>

    <!-- user_no 로 company 조회 -->
    <select id="selectCompanyDetailByComNo" resultType="CompanyDetail">
        SELECT *
        FROM company_detail
        WHERE com_no = #{comNo}
    </select>
 
</mapper>