<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/user_layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finder ID/Password Recovery</title>
</head>

<body layout:fragment="content">

  <div class="container recovery-form " style="width: 45%;" >
    <div class="form-header">
      <h4 style="margin-top: 10px;">회원 아이디/비밀번호를 잊으셨습니까?</h4>
      <p>아이디 찾기와 비밀번호 찾기 중 해당되는 것에 입력해주세요.</p>
    </div>
    <div class="row mt-4">
      <div class="d-flex justify-content-center">
        <div class="col-md-6">
          <h5><strong>아이디 찾기</strong></h5>
          <form>
            <div class="form-group">
              <label for="email" style="margin-top: 20px;  ">이메일</label>
              <div class="d-flex">
                <input type="text" class="form-control" id="email">
                <span class="mx-2">@</span>
                <select class="form-control">
                  <option value="gmail.com">gmail.com</option>
                  <option value="naver.com">naver.com</option>
                  <option value="daum.net">daum.net</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="username">사용자명</label>
              <input type="text" class="form-control" id="username">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">확인</button>
          </form>
        </div>

        <div class="divider"></div>

        <div class="col-md-6">
          <h5><strong>비밀번호 찾기</strong></h5>
          <form>
            <div class="form-group">
              <label for="user-id" style="margin-top: 20px;">아이디</label>
              <input type="text" class="form-control" id="user-id">
            </div>
            <div class="form-group">
              <label for="email">이메일</label>
              <div class="d-flex">
                <input type="text" class="form-control" id="email">
                <span class="mx-2">@</span>
                <select class="form-control">
                  <option value="gmail.com">gmail.com</option>
                  <option value="naver.com">naver.com</option>
                  <option value="daum.net">daum.net</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="username">사용자명</label>
              <input type="text" class="form-control" id="username">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">확인</button>
          </form>
        </div>
      </div>
    </div>
    <div class="alert alert-primary mt-4" role="alert">
      고객님께서 검색하신 아이디/비밀번호는 이메일로 전송됩니다.
      <p>아이디는 이메일과 사용자명이 맞아야 전송됩니다. 비밀번호는 아이디/이메일/사용자명 모두 맞아야 전송됩니다.</p>
    </div>
  </div>

</body>

</html>