<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/user_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 페이지</title>
    <style>
        .search-bar {
          background-color: #007bff;
          padding: 20px;
          border-radius: 8px;
        }
        .search-bar input {
          width: calc(100% - 120px);
        }
        .job-list {
          margin-top: 20px;
          padding: 20px;
          border: 1px solid #007bff;
          border-radius: 8px;
        }
      </style>
</head>
<body layout:fragment="content">
<h1>test</h1>
    <div class="container main-content">

        <div class="container mt-4">
            <div class="search-bar text-white text-center">
              <h4>관심직종</h4>
              <input type="text" class="form-control d-inline-block" placeholder="Search...">
              <button class="btn btn-light">찾기</button>
              <div class="mt-2">
                <span class="badge badge-light">개발자</span>
                <span class="badge badge-light">자바 개발자</span>
                <span class="badge badge-light">웹 개발자</span>
                <span class="badge badge-light">프론트엔드 개발자</span>
              </div>
            </div>
        
            <div class="job-list">
              <h5>직업명</h5>
              <ul class="list-group">
                <li class="list-group-item">개발자</li>
                <li class="list-group-item"># 컴퓨터 개발자</li>
                <li class="list-group-item"># 웹 개발자</li>
                <li class="list-group-item"># 자바 개발자</li>
                <li class="list-group-item"># 프론트엔드 개발자</li>
                <li class="list-group-item"># 풀스택 개발자</li>
              </ul>
              <button class="btn-long">회원가입 완료</button>
            </div>
          </div>

          <button class="btn-short">조회</button>
          <button class="btn-in-short">조회</button>
          <button class="btn-long">채용공고 작성</button>

    </div>
</body>
</html>
