<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/user_layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이력서 작성</title>

  <style>
    .resume-form {
      margin-top: 20px;
    }

    .form-header {
      text-align: center;
      background-color: var(--long-btn-color);
      color: white;
      padding-top: 16px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .form-group .form-control {
      margin-bottom: 10px;
    }

    .profile-pic {
      float: left;
      height: 280px;
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    .file-upload {
      margin-top: 10px;
      text-align: left;
    }

    #preview {
      width: 230px;
      height: 250px;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    #preview img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* 이미지가 preview 영역에 맞춰서 잘림 */
    }

    .deleteFile-btn {
      background-color: white;
      border-radius: 8px;
    }
  </style>
</head>

<body layout:fragment="content">

  <div class="container resume-form">
    <div class="form-header">
      <h4>이력서 작성</h4>
    </div>
    <form action="/resume/cv_create_user" method="post">
<!-- CSRF 토큰 -->
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <div class="form-group row justify-content-between" style="margin-top: 5px; margin-bottom: 5px;">
        <label for="title" class="col-sm-2 col-form-label" style="width: 80px;">제목 :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title">
        </div>
      </div>

      <div class="profile-pic">
        <div id="preview">
          <img src="" class="img-thumbnail" alt="이미지를 넣어주세요">
        </div>
        <label for="file">
          <div class="btn-long" style="padding-top: 5px;">사진 추가</div>
        </label>
        <!--특정 이미지파일만 볼 수 있게 만들기-->
        <input type="file" name="file" id="file" accept="image/png, image/jpeg" style="display: none;">
      </div>

      <div class="form-group row">
        <div class="col-sm-9 w-100" style="margin-bottom: 10px">
          <div class="form-group">
            <label>이름 : </label> <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <div class="mb-3">
              <label style="margin-right: 20px;">성별 </label>
              <input type='radio' name='gender' value='female' />여성
              <input type='radio' name='gender' value='male' />남성
            </div>
            <label>나이 </label>
            <input type="text" class="form-control" id="age">
          </div>
          <div class="form-group">
            <label>이메일 : </label> <input type="text" class="form-control" id="email">
          </div>
        </div>
      </div>
      
      <div class="form-group row w-100">
        <div class="col-sm-6 border bg-light rounded-3">
          <div class="d-flex align-items-center justify-content-between">
            <h5 style="margin-top: 10px;">학력</h5>
            <button class="btn-short">저장</button>
          </div>
          <div class="form-group">
            <label for="school">학교 :</label>
            <input type="text" class="form-control" id="school">
          </div>
          <div class="form-group">
            <label for="major">전공 :</label>
            <input type="text" class="form-control" id="major">
          </div>
          <div class="form-group">
            <label for="education-status">학력 상태 :</label>
            <input type="text" class="form-control" id="education-status">
          </div>
        </div>
        <div class="col-sm-6 border bg-light rounded-3">
          <div class="d-flex align-items-center justify-content-between">
            <h5 style="margin-top: 10px;">경력사항</h5>
            <button class="btn-short">저장</button>
          </div>
          <div class="form-group">
            <label for="period1">기관 :</label>
            <input type="text" class="form-control" id="period1">
          </div>
          <div class="form-group">
            <label for="period2">기간 :</label>
            <input type="text" class="form-control" id="period2">
          </div>
          <div class="form-group">
            <label for="duty">담당업무 :</label>
            <input type="text" class="form-control" id="duty">
          </div>
        </div>
      </div>
      <div class="form-group mb-3">

        <div>
          <div class="d-flex w-100 p-2">
            <div class="w-50"><strong>학력</strong></div>
            <div class="w-50"><strong>경력</strong></div>
          </div>
          <div>
            <hr color="#eee">
          </div>
          <div class="d-flex w-100">
            <div class="w-50">

              <ul class="d-flex justify-content-between p-3">
                <li>심원고등학교</li>
                <li>/</li>
                <li>--</li>
                <li>/</li>
                <li>졸업</li>
              </ul>

            </div>
            <div class="w-50">

              <ul class="d-flex justify-content-between p-3">
                <li>더조은 컴퓨터 아카데미</li>
                <li>/</li>
                <li>24-01-31 ~ 24-08-01</li>
                <li>/</li>
                <li>졸업</li>
              </ul>

            </div>
          </div>
        </div>

        <label for="self-introduction">자기소개서</label>
        <textarea required minlength="50" class="form-control border bg-light rounded-3" id="self-introduction" rows="5"
          placeholder="최소 50글자 이상 작성해야 합니다."></textarea>
      </div>
      <div class="upload-btn">
        <div class="file-upload">
          <input type="file" id="fileInput" style="display:none;" onchange="displayFileName()">
          <button class="btn-long" id="fileButton">파일 선택</button>
          <span id="fileName">파일을 추가해주세요.</span>
          <button class="deleteFile-btn" type="button">X</button>
          <!-- <button type="button" th:if="" th:onclick="|deleteFile(this, ${file.no})|">삭제</button> -->
        </div>
        <div class="btn-click123" style="float: inline-end;">
          <button type="submit" class="btn-long">이력서 등록</button>
          <button type="button" class="btn-long" onclick="moveToList()">이전 페이지</button>
        </div>
      </div>
  </div>
  </form>
  </div>


  <script>

    function moveToList() {
      location.href = '/resume/cv_list_user'
    }

    //이미지 파일 미리보기 업
    document.getElementById('file').addEventListener('change', function (event) {
      const file = event.target.files[0];
      const preview = document.getElementById('preview');
      preview.innerHTML = '';

      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          const img = document.createElement('img');
          img.src = e.target.result;
          preview.appendChild(img);
        }
        reader.readAsDataURL(file);
      } else {
        preview.innerHTML = '<p>이미지가 없습니다.</p>';
      }
    });

    //파일 첨부
    document.getElementById('fileButton').addEventListener('click', function () {
      document.getElementById('fileInput').click();
    });

    function displayFileName() {
      var input = document.getElementById('fileInput');
      var fileName = input.files[0] ? input.files[0].name : '파일이 선택되지 않았습니다.';
      document.getElementById('fileName').textContent = fileName;
    }

    //파일 첨부 삭제 코드

  </script>
</body>

</html>